@import url('https://fonts.google.com/share?selection.family=Quicksand:wght@300..700');

 :root{
    --cor-de-fundo:#1E1E1E;
    --branco:#FFFFFF;
    --roxo: #7e427e;
 }
 body{
    background-color:var(--cor-de-fundo);
    color: var(--branco);
    text-align: center;
    font-family: 'Chakra Petch';
 }

 h1 span{
    color: var(--roxo);
 }

 #dias_restantes{
    color: var(--roxo);
    font-size: 50px;
 }